<!DOCTYPE html>
<html>
    <head>
        <title>Notes App</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <h1><a href="/">📓 Notes App</a></h1>
        <p>Welcome to your personal Notes Manager.</p>
        <a href="/notes">📂 View Notes</a> |
        <a href="/notes/add">➕ Add Note</a>
        
</body>
</html>